script(src='#{cdnServer}/vendor/jquery/jquery.min.js')
script(src='#{cdnServer}/vendor/jqueryui/jquery-ui.min.js')
script(src='#{cdnServer}/vendor/bootstrap/dist/js/bootstrap.js')
script(src='#{cdnServer}/js/jquery.ui.touch-punch.min.js')
script(src='#{cdnServer}/js/notify.js')
script(src='#{cdnServer}/js/notify-bootstrap.js')
script(src='#{cdnServer}/js/qrcode.js')
script(src='#{cdnServer}/vendor/underscore/underscore-min.js')
script(src='#{cdnServer}/vendor/backbone/backbone-min.js')
script(src='#{cdnServer}/vendor/momentjs/min/moment.min.js')
script(src='#{cdnServer}/vendor/showdown/src/showdown.js')
script(src='#{cdnServer}/layouts/core.js')
script(src='#{cdnServer}/js/google-analytics.js')

//- Common
script(src='#{cdnServer}/vendor/fullpage/jquery.fullPage.min.js')
script(src='#{cdnServer}/vendor/screenfull/dist/screenfull.min.js')